################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/AirZapto.Applications.Services/bin
/AirZapto.Applications.Services/obj
/AirZapto.Domain/bin
/AirZapto.Domain/obj
/AirZapto.Infrastructure.Services/bin
/AirZapto.Infrastructure.Services/obj
/Framework.Infrastructure.Services/bin
/Framework.Infrastructure.Services/obj
/WeatherZapto.Application.Services/bin
/WeatherZapto.Application.Services/obj
/WeatherZapto.Domain/bin
/WeatherZapto.Domain/obj
/WeatherZapto.Infrastructure.Services/bin
/WeatherZapto.Infrastructure.Services/obj
/Zapto.Component.AirPollution/bin
/Zapto.Component.AirPollution/obj
/Zapto.Component.Charts/bin
/Zapto.Component.Charts/obj
/Zapto.Component.Common/bin
/Zapto.Component.Common/obj
/Zapto.Component.Dashboard/bin
/Zapto.Component.Dashboard/obj
/Zapto.Component.Home/bin
/Zapto.Component.Home/obj
/Zapto.Component.Services/bin
/Zapto.Component.Services/obj
/Zapto.Web.Dashboard/.vs
/Zapto.Web.Dashboard/bin/Debug/net7.0
/Zapto.Web.HealthCheck/bin
/Zapto.Web.HealthCheck/obj
/Zapto.Component.HealthCheck/bin
/Zapto.Component.HealthCheck/obj
/AirZapto.Application.Services/bin/Debug/netstandard2.1
/AirZapto.Application.Services/obj
/AirZapto.Data/bin/Debug
/AirZapto.Data/obj
/AirZapto.Data.Services/bin/Debug/net7.0
/AirZapto.Data.Services/obj
/AirZapto.WebServer/bin/Debug
/AirZapto.WebServer/obj/Debug
/AirZapto.WebServer/obj
/AirZapto.WebServer.Services/bin/Debug/net7.0
/AirZapto.WebServer.Services/obj
/Connect.Mobile/bin
/Connect.Mobile/obj
/Connect.Mobile.Android/bin
/Connect.Mobile.Android/obj
/AirZapto.Android/bin
/AirZapto.Android/obj
/Connect.Test.Data/obj
/AirZapto.Application.Services/bin/Release/netstandard2.1
/AirZapto.Mobile/bin
/AirZapto.Mobile/obj
/Connect.Test.Data/bin/Debug/net7.0
/Zapto.Web.Test/bin/Debug/net7.0
/Zapto.Web.Test/obj
/Connect.WebServer/bin/Debug/net7.0
/Connect.WebServer/obj/Debug/net7.0
/Connect.WebServer.Services/bin/Debug/net7.0
/Connect.WebServer/obj
/Connect.WebServer.Services/obj
/Framework.Data.Services/bin/Debug/net7.0
/Framework.Data.Services/obj
/Framework.Mobile.Services/bin/Debug/netstandard2.1
/Framework.Mobile.Services/obj
/WeatherZapto.Data/obj
/WeatherZapto.Data.Services/obj
/WeatherZapto.WebServer/obj
/WeatherZapto.WebServer.Services/obj
/WeatherZapto.Data/bin/Debug/net7.0
/WeatherZapto.Data.Services/bin/Debug/net7.0
/WeatherZapto.WebServer/bin/Debug/net7.0
/WeatherZapto.WebServer.Services/bin/Debug/net7.0
/AirZapto.WebServer/.vs/AirZapto.WebServer/DesignTimeBuild
/AirZapto.WebServer/.vs/AirZapto.WebServer/FileContentIndex
/Connect.WebServer/.vs/Connect.WebServer
/Connect.WebServer/bin
/Connect.WebServer/Publish/Publish
/Connect.WebServer/Publish
/AirZapto.WebServer/.vs/AirZapto.WebServer/v17
/Connect.WebServer.Services/bin/Release/net7.0
/Framework.Data.Services/bin
/Framework.Mobile.Services/bin/Release/netstandard2.1
/WeatherZapto.WebServer/.vs/WeatherZapto.WebServer
/Authentication.Application.Services/bin/Debug/netstandard2.1
/Authentication.Application.Services/obj
/Authentication.Domain/bin/Debug/netstandard2.1
/Authentication.Domain/obj
/Authentication.Infrastructure.Services/bin/Debug/netstandard2.1
/Authentication.Infrastructure.Services/obj
/WeatherZapto.Data.Supervisors/bin/Debug/net7.0
/WeatherZapto.Data.Supervisors/obj
/WeatherZapto.Data.Repositories/bin/Debug/net7.0
/WeatherZapto.Data.Repositories/obj
/Connect.Data.Supervisors/bin/Debug/net7.0
/Connect.Data.Supervisors/obj
/Connect.Data/obj
/AirZapto.Data.Repositories/bin/Debug/net7.0
/AirZapto.Data.Repositories/obj
/AirZapto.Data.Supervisors/bin/Debug/net7.0
/AirZapto.Data.Supervisors/obj
/Connect.Data/bin
/AirZapto.Data.Repositories/bin/Debug/net8.0
/AirZapto.Data.Services/bin/Debug/net8.0
/AirZapto.Data.Supervisors/bin/Debug/net8.0
/AirZapto.WebServer.Services/bin/Debug/net8.0
/WeatherZapto.Data.Repositories/bin/Debug/net8.0
/WeatherZapto.Data.Services/bin/Debug/net8.0
/WeatherZapto.Data.Supervisors/bin/Debug/net8.0
/WeatherZapto.WebServer/bin/Debug/net8.0
/WeatherZapto.WebServer.Services/bin/Debug/net8.0
/Connect.Data.Supervisors/bin/Debug/net8.0
/Connect.WebServer.Services/bin/Debug/net8.0
/Zapto.Web.Dashboard/bin/Debug/net8.0
/AirZapto.Android/.vs/AirZapto.Android.csproj.dtbcache.json
/Framework.Common.Services/obj
/Framework.Common.Services/bin/Debug/netstandard2.1
/Framework.Common.Services/bin/Release/netstandard2.1
/WeatherZapto.Data.Services/bin/Release/net8.0
/Zapto.Web.Dashboard/bin/Release/net8.0
/AirZaptoWebServer.Tests/bin/Debug/net8.0
/AirZaptoWebServer.Tests/obj
/AirZapto.Data.Supervisors.Tests/bin/Debug/net8.0
/AirZapto.Data.Supervisors.Tests/obj
/WeatherZapto.Data.Supervisors.Tests/bin/Debug/net8.0
/WeatherZapto.Data.Supervisors.Tests/obj
/Connect.Data.Supervisors.Tests/bin/Debug/net8.0
/Connect.Data.Supervisors.Tests/obj
/WeatherZapto.WebServer/WeatherZapto.WebServer.csproj.user
/Connect.WebServer/Connect.WebServer.csproj.user
/Connect.Mobile.Android/.vs/Connect.Mobile.Android.csproj.dtbcache.json
/Connect.Mobile.Android/.vs/Connect.Mobile.Android.csproj.dtbcache.json
/Connect.Mobile.Android/.vs/Connect.Mobile.Android.csproj.dtbcache.json
/AirZapto.Data.Repositories/bin/Release/net8.0
/AirZapto.Data.Services/bin/Release/net8.0
/AirZapto.Data.Supervisors/bin/Release/net8.0
/AirZapto.WebServer/bin/Release/net8.0
/AirZapto.WebServer.Services/bin/Release/net8.0
/AirZapto.Data.Supervisors.Tests/bin/Release/net8.0
/AirZaptoWebServer.Tests/bin/Release/net8.0
/Connect.Data.Supervisors/bin/Release/net8.0
/Connect.Data.Supervisors.Tests/bin/Release/net8.0
/Connect.WebServer.Services/bin/Release/net8.0
/WeatherZapto.Data.Supervisors.Tests/bin/Release/net8.0
/WeatherZapto.Data.Repositories/bin/Release/net8.0
/WeatherZapto.Data.Supervisors/bin/Release/net8.0
/WeatherZapto.WebServer/bin/Release/net8.0
/WeatherZapto.WebServer.Services/bin/Release/net8.0
/Zapto.Web.Test/bin/Debug/net8.0
/WebApplicationWebSocket/obj
/WebApplicationWebSocket/.vs
/WebApplicationWebSocket/bin/Debug/net8.0
/Framework.Common.Services/bin/Debug/net8.0
/Framework.Core.Utils/bin/Debug/net8.0
/Framework.Core.Utils/obj
