################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/AirZapto.Applications.Services/bin
/AirZapto.Applications.Services/obj
/AirZapto.Domain/bin
/AirZapto.Domain/obj
/AirZapto.Infrastructure.Services/bin
/AirZapto.Infrastructure.Services/obj
/Framework.Infrastructure.Services/bin
/Framework.Infrastructure.Services/obj
/WeatherZapto.Application.Services/bin
/WeatherZapto.Application.Services/obj
/WeatherZapto.Domain/bin
/WeatherZapto.Domain/obj
/WeatherZapto.Infrastructure.Services/bin
/WeatherZapto.Infrastructure.Services/obj
/Zapto.Component.AirPollution/bin
/Zapto.Component.AirPollution/obj
/Zapto.Component.Charts/bin
/Zapto.Component.Charts/obj
/Zapto.Component.Common/bin
/Zapto.Component.Common/obj
/Zapto.Component.Dashboard/bin
/Zapto.Component.Dashboard/obj
/Zapto.Component.Home/bin
/Zapto.Component.Home/obj
/Zapto.Component.Services/bin
/Zapto.Component.Services/obj
/Zapto.Web.Dashboard/.vs
/Zapto.Web.Dashboard/bin/Debug/net7.0
/Zapto.Web.HealthCheck/bin
/Zapto.Web.HealthCheck/obj
/Zapto.Component.HealthCheck/bin
/Zapto.Component.HealthCheck/obj
