@inject IStringLocalizer<Resource> Localizer
@inject ILocationViewModel ViewModel
@implements IDisposable

<div class="d-flex align-center gap-4 mb-2">
    <MudText Typo="Typo.h5" Color="Color.Primary">@this.Text</MudText>
    @if ((this.Text != null) && (this.Text != this.Localizer["Unable to locate"]))
    {
        <MudIconButton Size="Size.Small"
                    OnClick="@(async (e) => await TestNotificationButton())"
                    Icon="@Icons.Material.Filled.NotificationsActive"
                    Color="@Color.Info" />
    }
</div>

@code 
{
    [Parameter]
    public LocationModel? Model { get; set; } = null;

    [Parameter]
    public EventCallback<LocationModel?> ModelChanged { get; set; }

    [Parameter]
    public bool IsLoading { get; set; } = true;

    [Parameter]
    public EventCallback<bool> IsLoadingChanged { get; set; }

    private string? Text { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        if (this.ViewModel != null)
        {
            await this.ViewModel.InitializeAsync(null);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if ((this.ViewModel != null) && (this.Model == null))
        {
            (this.Model, this.Text) = await this.ViewModel.GetLocationModel();
            if (this.Model?.Location != null)
            {
                await this.ModelChanged.InvokeAsync(this.Model);
            }

            this.IsLoading = this.ViewModel.IsLoading;
            await this.IsLoadingChanged.InvokeAsync(this.IsLoading);
        }
    }

    public void Dispose()
    {
        this.ViewModel?.Dispose();
    }

    public async Task TestNotificationButton()
    {
        if ((this.ViewModel != null) && (this.Model != null))
        {
            await this.ViewModel.TestNotification(this.Model?.Id);
        }
    }
}
